{% extends "skeleton.twig" %}

{% block extend_head %}
    <style type="text/css">
        #list_users {
            width: 100%;
            height: 100%;
            clear: both;
        }
        thead {
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        th {
            text-align: left;
            font-weight: bold;
        }
        th, td {
            line-height: 24px;
        }
        tbody tr:nth-child(even) {
            background: #CCC
        }
        tbody tr:nth-child(odd) {
            background: #FFF
        }
    </style>
{% endblock %}

{% block title %}{{ h1 }}{% endblock %}

{% block content %}
    <table id="list_users">
        <thead>
        <tr>
            <th>Kontotyp</th>
            <th>Användarnamn</th>
            <th>Namn</th>
            <th>Email</th>
            <th>Inlägg</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
    {% for user in users %}
        <tr>
            <td data-sort_by="username">{{ user.type_name }}</td>
            <td data-sort_by="username">{{ user.username }}</td>
            <td data-sort_by="name">{{ user.first_name }} {{ user.last_name }}</td>
            <td data-sort_by="email">{{ user.email }}</td>
            <td data-sort_by="nr_of_posts">{{ user.nr_of_posts }}</td>
            <td><a href="/user/edit/{{ user.id }}" class="dark">Redigera</a></td>
            <td><a href="/user/view/{{ user.id }}" class="dark">Visa</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}