{% extends "skeleton.twig" %}

{% block title %}{{ h1 }}{% endblock %}

{% block content %}
    <div id="login_container">
        <form id="login_user_form" method="POST" action="">

            <div class="input_container">
                <label>Förnamn*</label>
                <input type="text" name="first_name" placeholder="Förnamn" value="{{ account.first_name }}" required />
            </div>

            <div class="input_container">
                <label>Efternamn*</label>
                <input type="text" name="last_name" placeholder="Efternamn" value="{{ account.last_name }}" required />
            </div>

            <div class="input_container">
                <label>Adress*</label>
                <input type="text" name="address" placeholder="Adress" value="{{ account.address }}" required />
            </div>

            <div class="input_container">
                <label>Postnummer*</label>
                <input type="text" name="zip_code" placeholder="Postnummer" value="{{ account.zip_code }}" required />
            </div>

            <div class="input_container">
                <label>Ort*</label>
                <input type="text" name="city" placeholder="Ort" value="{{ account.city }}" required />
            </div>

            <div class="input_container">
                <label>Kontakt e-mail*</label>
                <input type="email" name="email" placeholder="Kontakt e-mail" value="{{ account.email }}" required />
            </div>

            <div class="input_container">
                <label>Telefon</label>
                <input type="text" name="phone" placeholder="Telefon" value="{{ account.phone }}" />
            </div>


            <div class="input_container">
                <label>Lösenord*</label>
                <input type="password" name="password_1" value="" />
            </div>

            <div class="input_container">
                <label>Verifiera lösenord*</label>
                <input type="password" name="password_2" value="" />
            </div>

            <div class="input_container">
                <input type="hidden" name="id" value="{{ account.id }}" required/>
                <input type="submit" name="submit" value="Redigera konto" class="btn" />
            </div>

        </form>
    </div>
{% endblock %}